<div class="large-6 large-centered column">
  <div class="table">
    <h3> All Items </h3>
    <table id="market_table">
      <thead>
        <tr>
          <th>Item</th>
          <th>Region</th>
          <th>Date</th>
        </tr>
      </thead>
      <% @items.each do |item| %>
        <tr>
          <td><%= item.name %></td>
          <td><%= item.region %></td>
          <td><%= item.info_date %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div>
  <%= paginate @items %>
  </div>
</div>
