<div class="large-12 large-centered columns">
	<div class="large-8 large-centered columns" id="title">
		<h1>Welcome to Kvasir Markets</h1>
	</div>

	<div class="large-16 large-centered columns" id="first">

		<div class="large-4 columns hvr-grow" id="tile">
			<div>
				<h6>Items</h6>
				<a href="<%= items_path %>" id="items">
					<div class="content">
						<img src="assets/EVE_Online_Artwork_2.jpg">
					</div>
				</a>
			</div>
		</div>

		<div class="large-4 columns hvr-grow" id="tile">
			<div>
				<h6>My Items</h6>
				<a href="<%= tracked_items_path %>" id="tracked">
					<div class="content">
						<img src="assets/theraopulace.jpg">
					</div>
				</a>
			</div>
		</div>

		<div class="large-4 columns hvr-grow" id="tile">
			<div>
				<h6>Jita Undock</h6>
				<a href="<%= jita_path %>" id="jita">
					<div class="content">
						<img src="assets/Undock.jpg">
					</div>
				</a>
			</div>
		</div>

	</div>
</div>
