<div class="level0">
	<div class="level1">
		<h1>Nocturnal Crimson Skies Corporation</h1>
			<div class="level2">
				<ul id="menu">
					<li><%= link_to "Market Data", markets_path %></li>
					<li>Kvasir Engine</li>
					<li>Market Data</li>
					<li>NCCS Porfolio</li>
				</ul>
			</div>
		</div>
	</div>
</div>
