<div class="large-12 large-centered columns">
	<div class="large-8 large-centered columns" id="title">
		<h1>Welcome to Kvasir Markets</h1>
	</div>

	<div class="large-16 large-centered columns" id="first">

		<div class="large-4 columns">
			<div>
				<a href="<%= items_path %>">
					<div class="content">
						<img src="assets/markets.jpg">
					</div>
				</a>
			</div>
		</div>

		<div class="large-4 columns" id="my_items">
			<div>
				<a href="<%= tracked_items_path %>">
					<div class="content">
						<img src="assets/markets.jpg">
					</div>
				</a>
			</div>
		</div>

		<div class="large-4 columns">
			<div>
				<a href="<%= jita_path %>">
					<div class="content">
						<img src="assets/markets.jpg">
					</div>
				</a>
			</div>
		</div>

	</div>
</div>
