<div class="level0">
	<div class="level1">
		<h1>Nocturnal Crimson Skies Corporation</h1>
			<div class="level2">
				<ul id="menu">
					<li><%= link_to "NCCS Performance", markets_path %></li>
					<li><a href="NCCSkvasir.html">Kvasir Engine</a></li>
					<li><a href="NCCSmarket.html">Market Data</a></li>
					<li><a href="NCCSportfolio.html">NCCS Porfolio</a></li>
					<li><a href="cWebsite.html">Conversions</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
