<div class="large-11 large-centered column" id="video">
  <iframe src="http://www.twitch.tv/tmctv2/embed" frameborder="0" scrolling="no" height="378" width="620"></iframe>
  <a href="http://www.twitch.tv/tmctv2?tt_medium=live_embed&tt_content=text_link" style="padding:2px 0px 4px; display:block; width: 345px; font-weight:normal; font-size:10px;text-decoration:underline;">Watch live video from TMCTV2 on www.twitch.tv</a>
</div>
<div class="small-4 small-centered column" id="footer">
  <ul>
    <li><%= link_to "Home", root_path %></li>
  </ul>
</div>
