<script src="cAlert.js"></script>

<ul id="header">
	<li><%= link_to "Home", root_path %></li>
</ul>

<p>Build process initiated...</p>

<div class="level3">
	<table>
		<tr>
			<th>Time Stamp</th>
			<th>Market</th>
			<th>(XNCSX)</th>
		</tr>
		<tr>
			<td style="color:blue" id="time">(time stamp)</td>
			<td style="color:red" id="market">(Feedjira)</td>
			<td style="color:red" id="kvasir">(Kvasir)</td>
		</tr>
	</table>
</div>
<div class="level4">
	<p id="test">Refresh</p>
	<button type="button" onclick="myFunction()">Refresh</button>
	<script src="nccsScripts.js"></script>
</div>
