body {
  background: url(/assets/Destruction.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 1)
}

h6 {
  color: #B6CA8C;
  display: inline;
}

ul.eve-time li {
  background: inherit;
}

.content {
  text-align: center;
}

.content a {
  color: #FFFFFF

}

#first {
  padding: 0;
  display: inline;
}

#title {
  margin-bottom: 20%;
}

.title-area {
  position: relative;
  z-index: 1;
}

section.top-bar-section {
  text-align: center;
}

ul.eve-time li {
  float: none;
  display: inline-block;
  h3 {
    color: white;
  }
}

.center-my-list {
  width: 200px;
}

.center-my-list li {
  display: inline-block;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
