body {
  background-color: #375E69;
/*   background: url(/assets/exodus.jpg), no-repeat center center fixed; */
}

h1 {
  color: #FFFFFF;
}

.content {
  text-align: center;
}

.content a {
  color: #FFFFFF
}

#first {
  padding: 0;
  display: inline;
}

#title {
  margin-bottom: 5%;
}
