body {
  background: url(/assets/Destruction.jpg), no-repeat center center fixed;
}

#footer {
  align-items: center;
  position: relative;
	margin-top: auto; /* negative value of footer height */
	height: 180px;
	clear:both;
  text-align: center;
}

#video {
  margin-top: 50px;
}
